<a href="/"><span><i class="fas fa-times fa-3x"></i></span></a>

<i class="fa-solid fa-xmark"></i>

<h1 class="h1-search">Search</h1>
<p class="text-center">Select a plant to add to your garden</p>
<div data-controller="search-plants">
  <div class="container" >
    <div class="d-flex justify-content-center align-items-center">
      <div class="input-container d-flex">
        <%= form_with url: plants_path, method: :get, html: { class:
        '', data: { search_plants_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                      class: "form-control input-search-index-plants",
                      placeholder: 'Search a plant',
                      value: params[:query],
                      data: { search_plants_target: 'input',
                      action: 'keyup->search-plants#update'
                      } %>
        <% end %>
      </div>
      <button type="button" class="btn btn-terracotta" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-sliders-h"></i>
      </button>
    </div>
    <div class="d-flex justify-content-center">
  </div>
<hr/>
    </div>

<div class="added-filter-container">
  <div class="added-filter">
    <a href="">Water level: High <i class="fas fa-times-circle cross-icon"></i></a>
  </div>
    <div class="added-filter">
    <a href="">Light level: Medium<i class="fas fa-times-circle cross-icon"></i></a>
  </div>
  <div class="added-filter">
    <a href="">Beginner<i class="fas fa-times-circle cross-icon"></i></a>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= link_to plants_path, class:"reset-filter text-decoration-none text-black" do %>
    <i class="fas fa-redo text-black"></i> Reset filters
  <% end %>
</div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Choose your filters</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= form_with method: :get, class: 'filters-form', url: plants_path do |f| %>
            <h2>Water level</h2>
            <% Plant::WATER_LEVELS.each do |level| %>
              <%= f.check_box("water_level_#{level}", { class:"filter-checkbox", checked: params["water_level_#{level}"] == "true" }, true, false) %>
              <%#= f.label "water_level_#{level}", image_tag("water_level_#{level.to_s}.svg", :width=>20, :height=>20), class:"filter"%>
              <%= f.label "water_level_#{level}", class:"filter" do %>
                <%= inline_svg_tag("water_level_#{level.to_s}.svg", :width=>20, :height=>20) %>
              <% end %>

            <% end %>

            <h2>Light level</h2>
            <% Plant::LIGHT_LEVELS.each do |level| %>
              <%= f.check_box("light_level_#{level}", { class:"filter-checkbox", checked: params["light_level_#{level}"] == "true" }, true, false) %>
              <%# <%= f.label "light_level_#{level}", image_tag("light_level_#{level.to_s}.svg", :width=>20, :height=>20), class:"filter" %>
              <%= f.label "light_level_#{level}", class:"filter" do %>
                <%= inline_svg_tag("light_level_#{level.to_s}.svg", :width=>20, :height=>20) %>
              <% end %>
            <% end %>

            <h2>Care level</h2>
            <% Plant::CARE_LEVELS.each do |level| %>
              <%= f.check_box("care_level_#{level}", { class:"filter-checkbox", checked: params["care_level_#{level}"] == "true" }, true, false) %>
              <%# <%= f.label "care_level_#{level}", image_tag("care_level_#{level.to_s}.svg", :width=>20, :height=>20), class:"filter" %>
              <%= f.label "care_level_#{level}", class:"filter" do %>
                <%= inline_svg_tag("care_level_#{level.to_s}.svg", :width=>20, :height=>20) %>
              <% end %>
            <% end %>

          <%= f.submit 'Apply filters', :class => 'dark-btn' %>
          <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="container" id="index-plants">
    <%= render "list", plants: @plants %>
  </div>
</div>
