<%= link_to "<", root_path %>
<h1>Search</h1>

<form action="/plants" accept-charset="UTF-8" method="get">
  <input type="text" name="plant_name" id="plant_name" class="form_control" placeholder="Look up a plant">
  <input type="submit" name="commit" value="search" class="btn btn-primary" data-disable-with="Search">
</form>



<div class="container">
  <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-sm-12">
        <div class="plant-cards">
          <a href="<%= plant_path(plant)%>", class="link-dark text-decoration-none">
            <div class="plant-card-single">
              <%= cl_image_tag plant.photo.key, width: 150, height: 150, crop: :fill, :style => "border-radius: 10px"%>
              <div class="plant-infos">
                <h2><strong><%= plant.name %></strong></h2>
                <p><%= plant.description %></p>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
