<div class="header-garden" style="background-image: url(https://res.cloudinary.com/lucas-vittaz/image/upload/v1654261599/development/header-garden-linear-gradient.png)">
  All plants
  <%= link_to "<", root_path, class:"link-header" %>
</div>


<h1>Search for a plant</h1>
<p class="text-center">Select the one you want to add to your garden</p>
<div data-controller="search-plants">
  <div class="container" >
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <%= form_with url: plants_path, method: :get, html: { class:
        '', data: { search_plants_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                      class: "form-control input-search-index-plants",
                      placeholder: 'Search a plant',
                      value: params[:query],
                      data: { search_plants_target: 'input',
                      action: 'keyup->search-plants#update'
                      } %>
        <% end %>
      </div>

      <button type="button" class="btn btn-terracotta" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-sliders-h"></i>
      </button>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <%= link_to plants_path, class:"text-decoration-none text-black" do %>
        <i class="fas fa-redo text-black"></i> Reset filters
      <% end %>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Choose your filters</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with method: :get, url: plants_path do |f| %>
          <h2>Water level</h2>
          <% Plant::WATER_LEVELS.each do |level| %>
            <%= f.label level %>
            <%= f.check_box("water_level_#{level}", { class:"coucou", checked: params["water_level_#{level}"] == "true" }, true, false) %>
          <% end %>

          <h2>Light level</h2>
          <% Plant::LIGHT_LEVELS.each do |level| %>
            <%= f.label level %>
            <%= f.check_box("light_level_#{level}", { class:"coucou", checked: params["light_level_#{level}"] == "true" }, true, false) %>
          <% end %>

          <h2>Care level</h2>
          <% Plant::CARE_LEVELS.each do |level| %>
            <%= f.label level %>
            <%= f.check_box("care_level_#{level}", { class:"coucou", checked: params["care_level_#{level}"] == "true" }, true, false) %>
          <% end %>

        <%= f.submit 'Apply filters', :class => 'dark-btn' %>
        <% end %>

      </div>
    </div>
  </div>
</div>

  <div class="container">
    <%= render "list", plants: @plants %>
  </div>
</div>
