<%= cl_image_tag @plant.photo.key, width: 300, height: 300, crop: :fill %>

<h1><%= @plant.name %></h1>

<h2><%= @plant.scientific_name %></h2>
<ul>
  <li><%= @plant.baseline_hygrometry%></li>
  <li><%= @plant.min_baseline_temperature%></li>
    <li><%= @plant.max_baseline_temperature%></li>
  <li><%= @plant.light_level%></li>
  <li><%= @plant.care_level%></li>
</ul>

<p><%= @plant.description%></p>

<form action="GET">
  <a type="button"> Add to my garden </a>
</form>

<div class="modal-body">
  <%= simple_form_for([:my_garden, @plant, @user_plant]) do |f| %>
    <%= hidden_field_tag "user_plant[user_id]", current_user.id %>
    <%= hidden_field_tag "user_plant[plant_id]", @plant.id %>
    <%= f.input :room, collection: UserPlant::ROOMS, as: :radio_buttons  %>
    <%= f.button :submit %>
    <% end %>
  </form>
</div>
