<br>
<br>
<br>
<%= link_to "<", root_path  %>
<h1>My garden</h1>

 <div class="container-room-scroll">
    <% UserPlant::ROOMS.each do |room| %>

      <% if room == "Living Room" %>
        <div class="room-card">
          <%= link_to my_garden_user_plants_path(room: room) do %>
            <%= cl_image_tag("v1654202722/development/family-sofa_dkhs39.png", :width=>50, :height=>50) %>
          <% end%>
        </div>
      <% end %>

      <% if room == "Bedroom" %>
        <div class="room-card">
          <%= link_to my_garden_user_plants_path(room: room) do %>
            <%= cl_image_tag("v1654202722/development/single-bed_qk13tm.png", :width=>50, :height=>50) %>
          <% end%>
        </div>
      <% end %>

      <% if room == "Parental Room" %>
        <div class="room-card">
          <%= link_to my_garden_user_plants_path(room: room) do %>
            <%= cl_image_tag("v1654202725/development/double-bed_dfxapu.png", :width=>50, :height=>50) %>
          <% end%>
        </div>
      <% end %>

      <% if room == "Living Room" %>
        <div class="room-card">
          <%= link_to my_garden_user_plants_path(room: room) do %>
            <%= cl_image_tag("v1654202725/development/shower_bc4tsl.png", :width=>50, :height=>50) %>
          <% end%>
        </div>
      <% end %>

      <% if room == "Patio" %>
        <div class="room-card">
          <%= link_to my_garden_user_plants_path(room: room) do %>
            <%= cl_image_tag("v1654202722/development/terrace_zohcrl.png", :width=>50, :height=>50) %>
          <% end%>
        </div>
      <% end %>

      <% if room == "Kitchen" %>
        <div class="room-card">
            <%= link_to my_garden_user_plants_path(room: room) do %>
              <%= cl_image_tag("v1654203890/development/hot-pot_aovdua.png", :width=>50, :height=>50) %>
            <% end%>
        </div>
      <% end %>

    <% end %>
</div>

<div class="row">
  <% @user_plants.each do |user_plant| %>
    <div class="col">
      <div class="plant-cards">
        <a href="<%= plant_path(user_plant)%>", class="link-dark text-decoration-none">
          <div class="plant-card-single">
            <%= cl_image_tag user_plant.plant.photo.key, width: 150, height: 150, crop: :fill, :style => "border-radius: 10px"%>
            <div class="plant-infos">
              <h2><strong><%= user_plant.plant.name %></strong></h2>
              <p><%= user_plant.plant.description %></p>
            </div>
          </div>
      </div>
    </div>
  <% end %>
