<div class="header" style="background-image: url(https://res.cloudinary.com/lucas-vittaz/image/upload/v1654686556/development%20/header-alert_xhqfhg.png)">
  <a href="/"><%= inline_svg_tag("back-light.svg", :width=>40, :height=>40) %></a>
  <h1>My alerts</h1>
</div>
<div class="container alert-container">
  <p class="text-center"> Check your plants health in real time </p>
  <hr>
  <div class="plant-cards-alert">
    <% @plants_attention.each do |user_plant| %>
      <%= link_to  my_garden_user_plant_path(user_plant), class: "link-dark text-decoration-none plant-card-single" do %>
        <%= cl_image_tag user_plant.plant.photo.key, width: 70, height: 70, crop: :fill, :style => "border-radius: 10px" %>
        <div class="plant-infos-alert">
          <h2><strong><%= user_plant.plant.name %></strong></h2>
          <p><strong><%= user_plant.room.capitalize.humanize %></strong><br>Added on <i><%= user_plant.created_at.strftime("%a, %d %b %Y") %></i><br>Updated at <i><%= user_plant.updated_at.strftime("%H:%M") %></i></p>
          <div  data-controller="gauge" data-gauge-latest-hygrometry-value="<%= user_plant.latest_hygrometry%>" data-gauge-min-max-hygrometry-value="<%= [user_plant.plant.min_baseline_hygrometry,user_plant.plant.max_baseline_hygrometry] %>">
            <div class="gauge"data-gauge-target="chart"></div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
