<div id="plant-show">
  <div style="background-image: url(<%= cl_image_path(@user_plant.plant.photo.key, crop: :fill) %>);" class="plant-img">
      <a href="/my_garden/user_plants "><%= inline_svg_tag("back-dark", :width=>40, :height=>40) %></a>

      <button type="button" class="device-pairing-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Pair a sensor
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pair a sensor</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with url: pair_device_my_garden_user_plant_path(@user_plant), method: :patch, :class => 'd-flex flex-column align-items-center'  do |f| %>
                <%= f.select "device[external_id]", Device.pluck(:external_id), include_blank: false %>
                <%= f.submit :class => 'dark-btn'%>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>




    


  </div>

      <div class="container">
        <div class="plant-name">
          <h1><%= @user_plant.plant.name %></h1>
          <h2><%= @user_plant.plant.scientific_name %></h2>
        </div>
        <div class="container-plant-scroll">
          <div class="plant-card d-flex flex-column justify-content-center align-items-center">
            <span><i class="fas fa-tint fa-2x"></i></span>
            <p><%= @user_plant.plant.water_need %></p>
          </div>
          <div class="plant-card d-flex flex-column justify-content-center align-items-center">
            <span><i class="fas fa-temperature-high fa-2x"></i></span>
            <p><%= @user_plant.plant.min_baseline_temperature%> - <%= @user_plant.plant.max_baseline_temperature%> °C</p>
          </div>
          <div class="plant-card d-flex flex-column justify-content-center align-items-center">
            <span><i class="fas fa-sun fa-2x"></i></span>
            <p><%= @user_plant.plant.light_level %></p>
          </div>
          <div class="plant-card d-flex flex-column justify-content-center align-items-center">
            <span><i class="fas fa-seedling fa-2x"></i></span>
            <p><%= @user_plant.plant.care_level%></p>
          </div>
        </div>

        <div class="plant-description">
          <h3>Description</h3>
          <p><%= @user_plant.plant.description %></p>
        </div>
      </div>
  </div>
</div>

<div class="show-buttons">
  <button type="button" class="dark-btn mt-4 mb-2" data-bs-toggle="modal" data-bs-target="#edit-plant">
  Change room
  </button>

    <!-- Modal -->

  <div class="modal fade" id="edit-plant" tabindex="-1" aria-labelledby="edit-plantLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-style">
        <div class="modal-header">
          <h5 id="edit-plantLabel">Select a new room</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <%= form_with url: my_garden_plant_user_plant_path(@user_plant), method: :patch, :class => 'd-flex flex-column align-items-center'  do |f| %>

            <div class="d-flex flex-wrap justify-content-center">
              <% UserPlant::ROOMS.each do |room| %>
                <div class="d-flex flex-column align-items-center">
                  <%= f.radio_button("user_plant[room]", room, {class:"filter-checkbox", id: room, checked: @user_plant.room == room.to_s }) %>
                  <%= f.label room, class:"filter" do %>
                    <%= inline_svg_tag("#{room.to_s}.svg", :width=>40, :height=>40) %>
                  <% end %>
                  <%= room.to_s.humanize %>
                </div>
              <% end %>

            </div>
            <%= f.submit 'Save changes', :class => 'dark-btn edit-user-plant-btn'%>
            <% end %>
        </div>
        <div class="small-modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="light-btn mt-3">
    <%= link_to 'Remove my plant',  my_garden_user_plant_path(@user_plant),  method: :delete, data:{ confirm: "Are you sure you want to remove this plant?"} %>
  </div>

</div>
